/* PHASE 3: Layout */
.content-sidebar {

  min-height: 200px;
  width: 200px;
  padding: 20px;
  float: left;
  background-color: red; 
}

.content-main {

  float: left;
  width: 620px;
  min-height: 200px;
  padding: 20px; 
  background-color: green;

}

.content {

position: relative;
margin: 0 auto;
background: white;
width: 900px; 
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;



}